# Azure OpenAI API Key
AZURE_API_KEY="Placeholder"

# Azure OpenAI API Region
AZURE_OPENAI_REGION="Placeholder"

# Azure OpenAI API Endpoint
AZURE_OPENAI_ENDPOINT="Placeholder"

# Azure OpenAI API Deployment Name
AZURE_OPENAI_DEPLOYMENT_NAME="Placeholder"

# Azure OpenAI API STT API Key
AZURE_STT_API_KEY="Placeholder"

# Azure OpenAI API TTS API Key
AZURE_TTS_API_KEY="Placeholder"

# Azure OpenAI API STT Region
AZURE_STT_REGION="Placeholder"

AZURE_OPENAI_API_VERSION="Placeholder"

# Azure OpenAI API TTS Region
#AZURE_TTS_REGION="Placeholder"

# AZURE_OPENAI_TTS_API_KEY="Placeholder"

# AZURE_OPENAI_TTS_MODEL="Placeholder"

# AZURE_OPENAI_STT_API_KEY="Placeholder"

# AZURE_OPENAI_STT_MODEL="Placeholder"

LIVEKIT_API_KEY="Placeholder"
LIVEKIT_API_SECRET="Placeholder"
LIVEKIT_URL="Placeholder"

MONGODB_CONNECTION_STRING="Placeholder"

#COMMON_INSTRUCTIONS=""
